{% extends 'base/travel.html' %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'travelsignup' %}" method="post">
                    <h2>Sign up!</h2>
                    {% csrf_token %}
                    
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Username:</label>
                        <div class="col-10">
                            <input name='username' class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Owner name:</label>
                        <div class="col-10">
                            <input name='first_name' class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Email:</label>
                        <div class="col-10">
                            <input name='email' class="form-control" type="text" id="example-email-input" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Password:</label>
                        <div class="col-10">
                            <input name='password1' class="form-control" type="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Confirm Password:</label>
                        <div class="col-10">
                            <input name='password2' class="form-control" type="password" required>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase">Sign up</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}